@import '../../scss/variables';
.container {
  padding: 1rem;
  background-color: $background-yellow;
}

.inner-container {
  margin: auto;
  width: 75%;
}

.upper-row {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  img {
    max-width: 40%;
    height: 100%;
    border-radius: 50%;
  }
}

.right-col {
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-weight: 600;
}

#name {
  font-size: 1.5rem;
  align-items: center;
  display: flex;
}

#edit {
  border-radius: 0;
  max-width: 100%;
}

#tag {
  margin-left: 1rem;
  opacity: 0.75;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: normal;
  border: 1px solid #ffc7e3;
  border-radius: 1rem;
}

#username {
  opacity: 0.75;
  margin-bottom: 0.5rem;
  display: flex;
  span {
    margin-right: 1rem;
  }
}

#description {
  display: initial;
  font-size: 1.15rem;
  opacity: 0.75;
  font-weight: 300;
}

.link {
  font-size: 1rem;
  color: #2ba6edcc;
  padding: 0;
}

/* ===================================== Bottom   Row  ===================================== */

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  button {
    margin: 0 1rem;
    opacity: 0.75;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.75);
  }
}

.selected {
  opacity: 1 !important;
  border-bottom: 2px solid #000 !important;
  font-weight: 500;
}

/* ===================================== Media Queries ===================================== */

@media only screen and (max-width: 1100px) {
  .inner-container {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .inner-container {
    width: 100%;
  }
  .upper-row {
    flex-direction: column;
    align-items: center;
    img {
      width: auto;
      height: auto;
    }
  }
  .right-col {
    align-items: center;
    width: 100%;
  }
  #name {
    flex-direction: column;
  }
}

@media only screen and (max-width: 620px) {
  .menu-items {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    button {
      border: 1.5px solid rgba(0, 0, 0, 0.75);
      width: 100%;
      margin: 0;
    }
    .selected {
      border: 2px solid #000 !important;
    }
  }
}
