@import '../variables';

.container {
  width: 100%;
  padding: 1rem;
}

.heading {
  display: block;
  margin: auto;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: $sub-heading-font;
  color: $heading-color;
}

.main-content {
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
}

.left-col {
  width: 50%;
  .text-1 {
    line-height: 2.25;
    font-weight: 400;
  }

  .text-2 {
    margin-top: 1rem;
    line-height: 2.25;
    font-weight: 500;
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
  }

  ul {
    list-style-image: url('/icons/star.svg');
  }
}

.about-buttons {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  font-weight: 500;
  border: 2px solid $violet-shade;
  margin: 0 1rem;
}

#learn-more {
  background-color: $background-yellow;
  color: $violet-shade;
}

#feed {
  background-color: $violet-shade;
  color: #fff;
}

.right-col {
  width: 50%;

  :nth-child(2) {
    display: none;
  }
  img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
  }
}

.quote-div {
  display: block;
  margin: 2rem auto;
  position: relative;
  width: 75%;
  padding: 1.5rem;
  background-color: $background-yellow;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
  img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  p {
    width: 80%;
    position: relative;
    top: 5%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
    color: $violet-shade;
    font-family: $sub-heading-font;
  }
}

@media only screen and (max-width: 800px) {
  .heading {
    font-size: 1.5rem;
  }

  .main-content {
    flex-direction: column;
    padding: 0;
  }

  .left-col {
    width: 100%;

    .text-1 {
      font-size: 1rem;
      padding-left: 0.5rem;
    }

    .text-2 {
      font-size: 1rem;
      padding-left: 0.5rem;
    }
  }

  .about-buttons {
    margin: 0;
  }

  .right-col {
    width: 100%;
    :nth-child(1) {
      display: none;
    }
    :nth-child(2) {
      display: block;
    }
  }

  .quote-div {
    width: 100%;
    padding: 0.5rem;
    img {
      top: 2.5%;
      left: 2.5%;
    }
    p {
      font-size: 1.25rem;
    }
  }
}
