@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap'); // Montserrat for text
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap'); // PlayFair Display for Heading
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap'); // Mr De Haviland
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap'); // Poppins font

$dark-color: #0d0d0d;

/* Text Styles */

$heading-font: 'Mr De Haviland', cursive;
$sub-heading-font: 'Playfair Display', serif;
$text-font: 'Poppins', sans-serif;

/* Colors */

$heading-color: #000000;
$text-color: #2e2e2e;

$background-yellow: #fff6fb;
$background-pink: #ffc7a3;

$violet-shade: #4a2343;
$pink-shade: #ffc7e3;
$dark-pink-shade: #ab1d79;
