@import './variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $text-font;
  color: $text-color;
}

a {
  text-decoration: none;
  padding: 0.25rem 1rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  line-height: 22px;
  font-size: 18px;
  border-radius: 2px;
  background: none;
}

.homepage-container {
  background: linear-gradient(325deg, $pink-shade 45%, $background-yellow 45%);
}

.error {
  border-color: rgb(219, 39, 39) !important;
  border-width: 0.17rem !important;
}
.error-message {
  color: rgb(202, 18, 18);
  font-weight: lighter;
}
