@import './variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $text-font;
  color:$heading-color;
}

a {
  text-decoration: none;
  padding: 0.25rem 1rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  line-height: 22px;
  font-size: 18px;
  border-radius: 2px;
  background: none;
}

.homepage-container {
  background: linear-gradient(330deg, $pink-shade 45%, $background-yellow 45%);
}
